

{% extends 'myapp/base.html' %}

{% block dinamico %}
	<h1>Edição de endereço</h1>
	<form method="POST" class="endereco-form" enctype="multipart/form-data">{% csrf_token %}
		{{ form.as_p }}
		<button type="submit" class="save btn btn-default">Save</button>
	
		<button type="button" class="save btn btn-default" onclick="location.href='{% url 'busca_cep' %}';" >Buscar Cep</button>
	</form>
	
	<script type="text/javascript">
		function getCep(){
			valor = document.getElementById("id_cep").value;
			if valor == null{
				valor = ' '
			}
			alert(valor);
		 return valor;
		}
	</script>
	
{% endblock %}

